<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="location">
            <h2><span jhiTranslate="tmsV1ApplicationApp.location.detail.title">Location</span> {{ location.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tmsV1ApplicationApp.location.address">Address</span></dt>
                <dd>
                    <span>{{ location.address }}</span>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.location.streetAddress">Street Address</span></dt>
                <dd>
                    <span>{{ location.streetAddress }}</span>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.location.city">City</span></dt>
                <dd>
                    <span>{{ location.city }}</span>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.location.stateProvince">State Province</span></dt>
                <dd>
                    <span>{{ location.stateProvince }}</span>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.location.country">Country</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'tmsV1ApplicationApp.CountryEnum.' + location.country }}">{{ location.country }}</span>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.location.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{ location.postalCode }}</span>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.location.latitude">Latitude</span></dt>
                <dd>
                    <span>{{ location.latitude }}</span>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.location.longitude">Longitude</span></dt>
                <dd>
                    <span>{{ location.longitude }}</span>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.location.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ location.createdDate }}</span>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.location.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ location.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.location.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{ location.lastModifiedDate }}</span>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.location.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{ location.lastModifiedBy }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/location', location.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
