<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-accounts-heading" jhiTranslate="tmsV1ApplicationApp.accounts.home.createOrEditLabel">Create or edit a Accounts</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.accounts.balance" for="field_balance">Balance</label>
                    <input type="number" class="form-control" name="balance" id="field_balance"
                           formControlName="balance"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.accounts.over30" for="field_over30">Over 30</label>
                    <input type="number" class="form-control" name="over30" id="field_over30"
                           formControlName="over30"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.accounts.over60" for="field_over60">Over 60</label>
                    <input type="number" class="form-control" name="over60" id="field_over60"
                           formControlName="over60"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.accounts.over90" for="field_over90">Over 90</label>
                    <input type="number" class="form-control" name="over90" id="field_over90"
                           formControlName="over90"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.accounts.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.accounts.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.accounts.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" formControlName="lastModifiedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.accounts.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
                    <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                           formControlName="lastModifiedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.accounts.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" formControlName="customer">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption" *ngFor="let customerOption of customers; trackBy: trackById">{{ customerOption.company }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
