<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-container-heading" jhiTranslate="tmsV1ApplicationApp.container.home.createOrEditLabel">Create or edit a Container</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.container.number" for="field_number">Number</label>
                    <input type="text" class="form-control" name="number" id="field_number"
                           formControlName="number"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.container.tripType" for="field_tripType">Trip Type</label>
                    <select class="form-control" name="tripType" formControlName="tripType" id="field_tripType">
                        <option value="PICKUP">{{ 'tmsV1ApplicationApp.TripType.PICKUP' | translate }}</option>
                        <option value="RETURN">{{ 'tmsV1ApplicationApp.TripType.RETURN' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.container.pickup" for="field_pickup">Pickup</label>
                    <div class="d-flex">
                        <input id="field_pickup" type="datetime-local" class="form-control" name="pickup" formControlName="pickup" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.container.drop" for="field_drop">Drop</label>
                    <div class="d-flex">
                        <input id="field_drop" type="datetime-local" class="form-control" name="drop" formControlName="drop" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.container.containerSize" for="field_containerSize">Container Size</label>
                    <select class="form-control" name="containerSize" formControlName="containerSize" id="field_containerSize">
                        <option value="C53">{{ 'tmsV1ApplicationApp.SizeEnum.C53' | translate }}</option>
                        <option value="C43">{{ 'tmsV1ApplicationApp.SizeEnum.C43' | translate }}</option>
                        <option value="C20">{{ 'tmsV1ApplicationApp.SizeEnum.C20' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.container.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.container.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.container.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" formControlName="lastModifiedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.container.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
                    <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                           formControlName="lastModifiedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.container.pickupLocation" for="field_pickupLocation">Pickup Location</label>
                    <select class="form-control" id="field_pickupLocation" name="pickupLocation" formControlName="pickupLocation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === editForm.get('pickupLocation')!.value?.id ? editForm.get('pickupLocation')!.value : locationOption" *ngFor="let locationOption of locations; trackBy: trackById">{{ locationOption.address }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.container.dropLocation" for="field_dropLocation">Drop Location</label>
                    <select class="form-control" id="field_dropLocation" name="dropLocation" formControlName="dropLocation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === editForm.get('dropLocation')!.value?.id ? editForm.get('dropLocation')!.value : locationOption" *ngFor="let locationOption of locations; trackBy: trackById">{{ locationOption.address }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.container.trip" for="field_trip">Trip</label>
                    <select class="form-control" id="field_trip" name="trip" formControlName="trip">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tripOption.id === editForm.get('trip')!.value?.id ? editForm.get('trip')!.value : tripOption" *ngFor="let tripOption of trips; trackBy: trackById">{{ tripOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
