<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
 <h2 id="jhi-email-heading" jhiTranslate="tmsV1ApplicationApp.email.home.createOrEditLabel">Create or edit a Email</h2>
            <div >
                <jhi-alert-error></jhi-alert-error>
               <div class=" card col-sm-10">
               
             
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.email.userto"  for="field_userto">Userto</label>
                    <input type="text" class="form-control" required="required" name="userto" id="field_userto"
                           formControlName="userto"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.email.usercc" for="field_usercc">Usercc</label>
                    <input type="text" class="form-control" name="usercc" id="field_usercc"
                           formControlName="usercc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.email.userbcc" for="field_userbcc">Userbcc</label>
                    <input type="text" class="form-control" name="userbcc" id="field_userbcc"
                           formControlName="userbcc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.email.subject" for="field_subject">Subject</label>
                    <input type="text" class="form-control" name="subject" id="field_subject"
                           formControlName="subject"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.email.message" for="field_message">Message</label>
                    <textarea cols="50" rows="6" class="form-control" name="message" id="field_message"
                           formControlName="message"></textarea>
                </div>
             

              
                <div class="form-group">
                    <div>
                        <div *ngIf="editForm.get('attachment')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('attachmentContentType')!.value, editForm.get('attachment')!.value)">{{ editForm.get('attachmentName')!.value }}   <fa-icon icon="file"></fa-icon>  </a><br>
                           
                            <button type="button" (click)="editForm.patchValue({attachment: null});editForm.patchValue({attachmentContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon> 
                            </button>
                        </div>
                        <input type="file" id="file_attachment" (change)="setFileData($event, 'attachment', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="attachment" id="field_attachment"
                           formControlName="attachment"/>
                    <input type="hidden" class="form-control" name="attachmentContentType" id="field_attachmentContentType"
                           formControlName="attachmentContentType" />
                </div>

           

            </div>
            
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
                
                 <button type="button" id="save-entity" [disabled]="editForm.invalid || isSaving" (click)="sendState()" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp; Send</span>
                </button>
            </div>
        </form>
    </div>
</div>
