<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fileSystem">
            <h2><span jhiTranslate="tmsV1ApplicationApp.fileSystem.detail.title">File System</span> {{ fileSystem.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tmsV1ApplicationApp.fileSystem.data">Data</span></dt>
                <dd>
                    <div *ngIf="fileSystem.data">
                        <a (click)="openFile(fileSystem?.dataContentType!, fileSystem?.data)" jhiTranslate="entity.action.open">open</a>
                        {{ fileSystem.dataContentType }}, {{ byteSize(fileSystem.data) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.fileSystem.fileName">File Name</span></dt>
                <dd>
                    <span>{{ fileSystem.fileName }}</span>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.fileSystem.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ fileSystem.createdDate }}</span>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.fileSystem.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ fileSystem.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.fileSystem.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{ fileSystem.lastModifiedDate }}</span>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.fileSystem.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{ fileSystem.lastModifiedBy }}</span>
                </dd>
                <dt><span jhiTranslate="tmsV1ApplicationApp.fileSystem.email">Email</span></dt>
                <dd>
                    <div *ngIf="fileSystem.email">
                        <a [routerLink]="['/email', fileSystem.email?.id, 'view']">{{ fileSystem.email?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/file-system', fileSystem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
