<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-payment-heading" jhiTranslate="tmsV1ApplicationApp.payment.home.createOrEditLabel">Create or edit a Payment</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.payment.invoiceNo" for="field_invoiceNo">Invoice No</label>
                    <input type="text" class="form-control" name="invoiceNo" id="field_invoiceNo"
                           formControlName="invoiceNo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.payment.paymentAmt" for="field_paymentAmt">Payment Amt</label>
                    <input type="number" class="form-control" name="paymentAmt" id="field_paymentAmt"
                           formControlName="paymentAmt"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.payment.invoicePaidDate" for="field_invoicePaidDate">Invoice Paid Date</label>
                    <div class="input-group">
                        <input id="field_invoicePaidDate" type="text" class="form-control" name="invoicePaidDate" ngbDatepicker #invoicePaidDateDp="ngbDatepicker" formControlName="invoicePaidDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="invoicePaidDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.payment.payRefNo" for="field_payRefNo">Pay Ref No</label>
                    <input type="text" class="form-control" name="payRefNo" id="field_payRefNo"
                           formControlName="payRefNo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.payment.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="DRAFT">{{ 'tmsV1ApplicationApp.InvoiceStatus.DRAFT' | translate }}</option>
                        <option value="GENERATED">{{ 'tmsV1ApplicationApp.InvoiceStatus.GENERATED' | translate }}</option>
                        <option value="SENT">{{ 'tmsV1ApplicationApp.InvoiceStatus.SENT' | translate }}</option>
                        <option value="PAID">{{ 'tmsV1ApplicationApp.InvoiceStatus.PAID' | translate }}</option>
                        <option value="OVERDRAFT">{{ 'tmsV1ApplicationApp.InvoiceStatus.OVERDRAFT' | translate }}</option>
                        <option value="VOIDED">{{ 'tmsV1ApplicationApp.InvoiceStatus.VOIDED' | translate }}</option>
                        <option value="PARTIALLY_PAID">{{ 'tmsV1ApplicationApp.InvoiceStatus.PARTIALLY_PAID' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.payment.createdOn" for="field_createdOn">Created On</label>
                    <div class="d-flex">
                        <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" formControlName="createdOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.payment.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.payment.updatedOn" for="field_updatedOn">Updated On</label>
                    <div class="d-flex">
                        <input id="field_updatedOn" type="datetime-local" class="form-control" name="updatedOn" formControlName="updatedOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tmsV1ApplicationApp.payment.updatedBy" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                           formControlName="updatedBy"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
